img{
	width: 300px;
	height: 200px;
}
#as{
		width: 100px;
	height:100px;

}
.yoimagen{
	
	
	margin-top: -50px;
	border: 2px solid #ddd;
}
.logito{
	height: 80px;
	width: 80px;

}
.footer{
	 position: all;
	 margin-bottom: -20px;
}